.course-card {
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .course-card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  .card-back {
    background-color: #fff;
    color: #358cc5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-back p {
    font-size: 1rem;
    font-weight: bold;
  }
  
  .arrow-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
  }
  
  .arrow-icon img {
    width: 100%;
    height: auto;
  }
  
  .activities-container {
    padding: 0 1rem;
  }
  
  .activities-intro p {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .activities-card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  